*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    background-color: rgb(146, 76, 204);
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    border-radius: 50px;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.4);

}
#count{
    font-size: 50px;
    color: blue;
}
#eveOdd{
    font-size: 18px;
    color: blue;
}
button{
    background-color: rgb(59, 15, 15);
    color: white;
    font-size: 18px;
    width: 8vw;
}